{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    
{% endblock %}


{% block nav %}
    <nav>
        <a href="{% url 'inicio' %}" class="navbar-brand">PlanoFit</a>

        <a href="{% url 'registrar' %}">Cadastrar</a>

        <a href="{% url 'login' %}">Login</a>
    </nav>
{% endblock %}


{% block content %}


<div class="hero">

    <div class="hero-container">

        <div class="hero-image">
            <img
                src="{% static 'imgs/img_menu.jpeg' %}"
                alt="Imagem de destaque"
            >
        </div>

        <div class="caixamenu">

            <h1>Bem-vindo ao PlanoFit!</h1>

            <p>
                Tenha acesso a dietas, treinos e acompanhamento
                do seu progresso.
            </p>

            <div class="hero-actions">

                <a href="{% url 'registrar' %}"
                   class="btn btn-primary">
                    Criar conta
                </a>

                <a href="{% url 'login' %}"
                   class="btn btn-secondary">
                    Entrar
                </a>

            </div>

        </div>

    </div>

</div>
{% endblock %}