{% extends 'base.html' %}

{% block nav %}
    <nav>
        <a href="{% url 'monitoramento:dashboard' %}" class="navbar-brand">PlanoFit</a>

        <form method="POST" action="{% url 'logout' %}" class="form-logout">
            {% csrf_token %}
            <button type="submit" class="botao-logout">Sair</button>
        </form>

        <a href="{% url 'perfil' %}">Perfil</a>
        <a href="{% url 'criar_ficha' %}">Treino</a>
        <a href="{% url 'biblioteca' %}">Biblioteca</a>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Criar treino personalizado</h1>

    <h4>Seus dados de perfil:</h4>
<ul class="perfil-resumo">
    <li>Nome: {{ perfil.nome }}</li>
    <li>Altura: {{ perfil.altura|default:"--" }} m</li>
    <li>Sexo: {{ perfil.get_sexo_display|default:"--" }}</li>
    <li>Objetivo: {{ perfil.get_objetivo_display|default:"--" }}</li>
</ul>

    <div class="form-card form-card-wide">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}